# RStudio
.RData
.Rhistory
.Rproj.user/

# downloaded data
inst/tmpdata/*
inst/extdata/*
inst/raw.data/*
inst/testing/*
inst/schemas/*

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# macOS files
.DS_Store

